#error{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #101011;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

#error h3 {
    font-size: 100%;
    margin: 0;
    text-align: center;
}
#error .go_button_container {
    display: block;
}

#error .go_button_container a {
    width: 60%;
}

#error .go_button_container button {
    padding-top: 1rem;
    padding-bottom: 1rem;
}